name: Frontend CI

on:
  pull_request:
    paths:
      - "frontend/**"

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install frontend dependencies
      run: |
        pip install -r frontend/requirements.txt

    - name: Test frontend
      run: |
        pytest frontend/tests

    - name: Lint backend only
      run: |
       flake8 backend
